@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';
@import 'stylesheets/modules/modules';

body {
  background-repeat: no-repeat;

  &.background-type--dark {
    color: white;
    text-shadow: 1px 1px $text-color;
  }
}

.form-flat {
  .btn {
    @extend .btn.btn-flat;
  }
}

.call__info {
  margin-top: 60px;

  h1 {
    font-size: 60px;
    margin-bottom: 28px;
  }
}

.call__form {
  margin-top: 60px + 60px * 1.1 + 28px;
}

p.call__thanks {
  font-size: 48px;
  text-align: center;
}

.navbar li {
  margin-bottom: 0;
}
